.convenience {

  &_cards{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4% 0;

    &_container{
      display: flex;

      &:first-child{
        justify-content: flex-start;
      }

      &:last-child{
        justify-content: flex-end;
      }
    }
  }

  &_card {
    border: 1px solid rgb(254, 254, 254, 0.5);
    box-shadow: 2px 2px 10px 0px rgba(21, 12, 73, 0.15);
    padding: 1% 2%;
    width: 440px;

    h4 {
      font-size: 20px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0.4px;
      padding-bottom: 4%;
    }

    div {
      display: flex;
      gap: 3%;
      align-items: center;
    }

    h2 {
      font-size: 70px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 1.4px;
      opacity: 0.5;
    }

    p {
      font-size: 15px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.3px;
    }
  }
}

@media (max-width: 800px) {
  .convenience {

    &_cards{
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 4% 0;
      justify-content: center;
      align-items: center;
  
      &_container{
        display: flex;
        flex-direction: column;
      }
    }
}
}