.main {
  background: #540295 url('/images/main-bg.jpg') no-repeat center/cover fixed;
  color: #FEFEFE; 
  height: 1080px;
  position: relative;
  width: 100%;

  &_wrapper {
    height: 1080px;
  }

  &_content {
    width: 100%;
    position: relative;
    padding-top: 150px;

    h1 {
      font-size: 130px;
      font-weight: 800;
      line-height: 140px;
      letter-spacing: 2.6px;
      text-transform: uppercase;
    }

    h2 {
      font-size: 65px;
      font-weight: 700;
      line-height: 130px;
      letter-spacing: 2.6px;
      text-transform: uppercase;
    }

    h3 {
      font-size: 35px;
      font-weight: 600;
      line-height: 50px;
      letter-spacing: 0.7px;
      text-transform: lowercase;
      padding-bottom: 20px;
    }

    button {
      color: #d0d0d0;
      font-size: 15px;
      font-weight: 400;
      line-height: 40px;
      letter-spacing: 0.3px;
    }

    p {
      font-size: 25px;
      font-weight: 400;
      line-height: 35px;
      letter-spacing: 0.5px;
      text-align: right;
      width: 35%;
      position: absolute;
      right: 0;
    }

  }

  &_more {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 233px;
    height: 110px;
    background: #F5F5F5;
    color: #2D2C35;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.4px;
  }
}

@media (max-width: 1100px) {
  .main{
    text-align: center;

    &_content{
      p{
        width: 100%;
        text-align: center;
        padding-top: 25px;
      }
    }
  }
}