.convenience {
  height: 1080px;
  background: #36168e url("/images/responsibility-bg.jpg") no-repeat center/cover fixed;
  color: #fefefe;

  &_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1px;
    width: 50%;
  }

  &_title {
    display: flex;
    justify-content: space-around;
    padding-top: 70px;

    p {
      font-size: 25px;
      font-weight: 500;
      line-height: 37px;
      letter-spacing: 0.5px;
      width: 50%;
    }

    div {
      width: 200px;
      writing-mode: sideways-lr;
      text-align: right;

      h6 {
        font-size: 25px;
        font-weight: 300;
        line-height: 60px;
        letter-spacing: 0.5px;
      }

      hr {
        opacity: 0.5;
        background: #fefefe;
        height: 2px;
      }
    }
  }
}

@media (max-width: 800px) {
  .convenience{
    height: 1240px;
  }
}