.text_input {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.4);
    outline: none;
    background-color: transparent;
    padding: 8px 2px;
    color: #2d2c35;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.3px;
}
